/**
配色は、以下の三色で行う。
https://coolors.co/454545-72eaa6-f76776-ffffff-c8c8c8
*/

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #454545;
}
.app-content {
  flex: 1;
}

header {
  color: white;
  background-color: #454545;
}

footer {
  color: white;
  background-color: #454545;
}

header > h1 {
  margin-left: 20px;
  font-size: 28px;
}

h2 {
  margin: 8px;
  font-size: 22px;
}

h3 {
  margin: 10px 8px;
  font-size: 18px;
}

h4 {
  font-size: 16px;
}
a:link {
  color: #454545;
}
a:visited {
  color: #c8c8c8;
}

.app-content {
  flex: 1;
  margin: 40px 100px;
}

.error-message {
  color: #f76776;
}

.success-message {
  color: #72eaa6;
}

.copy-right {
  text-align: center;
}

.copy-right > a {
  color: white;
  text-decoration: none;
}
