.add-todo-wrapper > form {
  display: flex;
  padding: 10px;
}

.add-todo-wrapper > form > input {
  flex: 6;
  font-size: 16px;
  margin: 3px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-todo-wrapper > form > button {
  flex: 1;
  font-size: 16px;
  margin: 3px;
  padding: 12px 20px;
  background-color: #c8c8c8;
  border-radius: 5px;
  color: white;
}

.message-wrapper {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.todo-lists {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.todo-lists > li {
  list-style: none;
  margin: 3px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.todo-lists > li > label {
  flex: 1 1 auto;
}
